body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1919px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u4774 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:16px;
  width:116px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u4775 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u4776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u4776 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:57px;
  width:71px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u4777 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4778 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:91px;
  width:733px;
  height:40px;
}
#u4779 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  word-wrap:break-word;
}
#u4780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u4780 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:162px;
  width:71px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u4781 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4782 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:196px;
  width:733px;
  height:20px;
}
#u4783 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  word-wrap:break-word;
}
#u4784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u4784 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:250px;
  width:71px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u4785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4786 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:284px;
  width:733px;
  height:20px;
}
#u4787 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  word-wrap:break-word;
}
#u4788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u4788 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:339px;
  width:99px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u4789 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u4790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4790 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:373px;
  width:733px;
  height:20px;
}
#u4791 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  word-wrap:break-word;
}
#u4792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1869px;
  height:3430px;
}
#u4792 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:430px;
  width:1869px;
  height:3430px;
}
#u4793 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1707px;
  width:1865px;
  visibility:hidden;
  word-wrap:break-word;
}
